ejercicio4.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT listacompras (venta+)>
<!ELEMENT venta (ventacredito|ventainmediata)>
<!ELEMENT ventacredito (fechafinpago?,cantidad)>
<!ELEMENT ventainmediata (cantidad,divisa)>
<!ELEMENT fechafinpago (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT divisa (#PCDATA)>

